body{
  

    text-align: right;
}
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-right: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: right;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-left: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: right;
    width: 60%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}
/* menu*/
body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
 
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
    height: 300px;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height:50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}
.list-menu{
  
    list-style: none;
}
.list-menu a{
     text-decoration: none; 
   
}
.list-menu li{
    padding-top:13px; 
}
hr {
       margin-top: 11px;
    margin-bottom: 12px;
}